body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(248, 248, 248);
    padding: 10px 0;
    border-bottom: 1px solid rgb(221, 221, 221);
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: #333;
    margin: 0 10px;
    padding: 10px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: rgb(184, 182, 182);
}

.logo {
    width: 50px;
    height: auto;
}

main h1 {
    text-align: center;
}

main {

    padding: 20px;

}

.content {
    display: flex;
    flex-wrap: wrap;
    margin: 30px;
    justify-content: space-around;
    gap: 30px;
}

.content a {
    text-decoration: none;
    color: black;
}

.sub:hover {
    transform: scale(1.1);
}

.sub {
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 250px;
    margin: 60px;
    border-radius: 50px;
    cursor: pointer;
    transition: transform 0.4s;
}

.sub h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sub ul {
    list-style-type: none;
    padding: 0;
    color: #333;
}

.sub ul li ::before {
    margin-top: 10px;
    padding-left: 30px;
    padding-right: 10px;
    content: "\2023";
    color: black;

}

#cls6_1 {
    background-color: peachpuff;
    box-shadow: 15px 15px 10px grey;

}

#cls6_2 {
    background-color: lightblue;
    box-shadow: 10px 10px 10px grey;
}

#cls6_3 {
    background-color: lightgreen;
    box-shadow: 10px 10px 10px grey;
}

#cls6_4 {
    background-color: lightpink;
    box-shadow: 10px 10px 10px grey;
}

#cls6_5 {
    background-color: aquamarine;
    box-shadow: 10px 10px 10px grey;
}

#cls6_6 {
    background-color: lightsalmon;
    box-shadow: 10px 10px 10px grey;
}

#cls6_7 {
    background-color: lightcoral;
    box-shadow: 10px 10px 10px grey;
}

#cls6_8 {
    background-color: lightsteelblue;
    box-shadow: 10px 10px 10px grey;
}