<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Political Science Class 9th</title>
    <link rel="stylesheet" href="/static/css/class9.css">
</head>

<body>
    <header>
        <nav>
            <img src="/static/img/logo.png" alt=" main_logo" class="logo">
            <a href="index.html" aria-label="Home">Home</a>
            <a href="services.html" aria-label="Services">Services</a>
            <a href="contact.html" aria-label="Contact">Contact</a>
            <a href="about.html" aria-label="About Us">About Us</a>
        </nav>
    </header>
    <main>
        <section class="sec">
            <h1>Notes</h1>
            <ol>
                <a href="#">
                    <li id="ch1">What is Democracy? <br> Why Democracy?</li>
                </a>
                <a href="#">
                    <li id="ch2">Constitutional Design</li>
                </a>
                <a href="#">
                    <li id="ch3">Electoral Politics</li>
                </a>
                <a href="#">
                    <li id="ch4">Working of Institutions</li>
                </a>
                <a href="#">
                    <li id="ch5">Democratic Rights</li>
                </a>
            </ol>
        </section>
        <section class="sec">
            <h1 class="heading">Syllabus</h1>
            <ol>
                <a href="/static/doc/Social_Science_Sec_2024-25.pdf">
                    <li id="sylbs">CBSE 2024-25 Latest Syllabus</li>
                </a>
            </ol>
        </section>
        <section class="sec">
            <h1 class="heading">NCERT e-book</h1>
            <ol>
                <a href="/static/doc/class9/ssc/civics/iess401.pdf">
                    <li id="ch1">What is Democracy? <br> Why Democracy?</li>
                </a>
                <a href="/static/doc/class9/ssc/civics/iess402.pdf">
                    <li id="ch2">Constitutional Design</li>
                </a>
                <a href="/static/doc/class9/ssc/civics/iess403.pdf">
                    <li id="ch3">Electoral Politics</li>
                </a>
                <a href="/static/doc/class9/ssc/civics/iess404.pdf">
                    <li id="ch4">Working of Institutions</li>
                </a>
                <a href="/static/doc/class9/ssc/civics/iess405.pdf">
                    <li id="ch5">Democratic Rights</li>
                </a>
            </ol>
        </section>
    </main>
</body>

</html>