<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>क्षितिज कक्षा 9वीं</title>
    <link rel="stylesheet" href="/static/css/class9.css">
</head>

<body>Class
    <header>
        <nav>
            <img src="/static/img/logo.png" alt=" main_logo" class="logo">
            <a href="index.html" aria-label="Home">Home</a>
            <a href="services.html" aria-label="Services">Services</a>
            <a href="contact.html" aria-label="Contact">Contact</a>
            <a href="about.html" aria-label="About Us">About Us</a>
        </nav>
    </header>
    <main>
        <section class="sec">
            <h1>गद्य – खंड</h1>
            <ol>
                <a href="#">
                    <li id="ch1">दो बैलों की कथा</li>
                </a>
                <a href="#">
                    <li id="ch2">ल्हासा की ओर</li>
                </a>
                <a href="#">
                    <li id="ch3">उपभोक्तावाद की संस्कृति</li>
                </a>
                <a href="#">
                    <li id="ch4">साँवले सपनों की याद</li>
                </a>
                <a href="#">
                    <li id="ch5">नाना साहब की पुत्री देवी मैना को भस्म कर दिया गया</li>
                </a>
                <a href="#">
                    <li id="ch6">प्रेमचंद के फटे जूते</li>
                </a>
                <a href="#">
                    <li id="ch7">मेरे बचपन के दिन</li>
                </a>
                <a href="#">
                    <li id="ch8">एक कुत्ता और एक मैना</li>
                </a>
            </ol>
        </section>

        <section class="sec">
            <h1>काव्य – खंड</h1>
            <ol>
                <a href="#">
                    <li id="ch1">साखियाँ एवं सबद</li>
                </a>
                <a href="#">
                    <li id="ch2">वाख</li>
                </a>
                <a href="#">
                    <li id="ch3">सवैये</li>
                </a>
                <a href="#">
                    <li id="ch4">कैदी और कोकिला</li>
                </a>
                <a href="#">
                    <li id="ch5">ग्राम श्री</li>
                </a>
                <a href="#">
                    <li id="ch6">चंद्र गहना से लौटती बेर</li>
                </a>
                <a href="#">
                    <li id="ch7">मेघ आए</li>
                </a>
                <a href="#">
                    <li id="ch8">यमराज की दिशा</li>
                </a>
                <a href="#">
                    <li id="ch9">बच्चे काम पर जा रहे हैं</li>
                </a>
            </ol>
        </section>

        <section class="sec">
            <h1>पाठ्यक्रम</h1>
            <ol>
                <a href="/static/doc/Maths_Sec_2024-25.pdf">
                    <li id="sylbs">CBSE 2024-25 नवीनतम पाठ्यक्रम</li>
                </a>
            </ol>
        </section>

        <section class="sec">
            <h1>एनसीईआरटी ई-बुक</h1>
            <section class="sec">
                <h1>गद्य – खंड</h1>
                <ol>
                    <a href="#">
                        <li id="ch1">दो बैलों की कथा</li>
                    </a>
                    <a href="#">
                        <li id="ch2">ल्हासा की ओर</li>
                    </a>
                    <a href="#">
                        <li id="ch3">उपभोक्तावाद की संस्कृति</li>
                    </a>
                    <a href="#">
                        <li id="ch4">साँवले सपनों की याद</li>
                    </a>
                    <a href="#">
                        <li id="ch5">नाना साहब की पुत्री देवी मैना को भस्म कर दिया गया</li>
                    </a>
                    <a href="#">
                        <li id="ch6">प्रेमचंद के फटे जूते</li>
                    </a>
                    <a href="#">
                        <li id="ch7">मेरे बचपन के दिन</li>
                    </a>
                    <a href="#">
                        <li id="ch8">एक कुत्ता और एक मैना</li>
                    </a>
                </ol>
            </section>

            <section class="sec">
                <h1>काव्य – खंड</h1>
                <ol>
                    <a href="#">
                        <li id="ch1">साखियाँ एवं सबद</li>
                    </a>
                    <a href="#">
                        <li id="ch2">वाख</li>
                    </a>
                    <a href="#">
                        <li id="ch3">सवैये</li>
                    </a>
                    <a href="#">
                        <li id="ch4">कैदी और कोकिला</li>
                    </a>
                    <a href="#">
                        <li id="ch5">ग्राम श्री</li>
                    </a>
                    <a href="#">
                        <li id="ch6">चंद्र गहना से लौटती बेर</li>
                    </a>
                    <a href="#">
                        <li id="ch7">मेघ आए</li>
                    </a>
                    <a href="#">
                        <li id="ch8">यमराज की दिशा</li>
                    </a>
                    <a href="#">
                        <li id="ch9">बच्चे काम पर जा रहे हैं</li>
                    </a>
                </ol>
            </section>
        </section>
    </main>
</body>

</html>